.footer {
  position: relative;
  z-index: 10;

  .gradient {
    height: 100px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(25, 26, 25, 1) 100%
    );
    margin-bottom: -1px;
  }

  .footer-content {
    padding: 32px 16px;
    height: 350px;
    background: #191a19;
    font-family: YandexSansDisplay-Thin, sans-serif;
    color: white;

    &-logo {
      height: 45px;
      width: fit-content;
      display: flex;
      align-items: flex-start;
      min-width: 120px;
      margin-bottom: 20px;

      &__eye {
        height: 37px;
      }

      &__letters {
        margin-left: 1px;
        height: 45px;
      }
    }

    &-phone {
      color: white;
      text-decoration: none;
    }

    &-socials {
      margin-top: 16px;
      display: flex;
      column-gap: 16px;
      align-items: center;

      a {
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #ffffff;
        }

        img {
          width: 30px;
        }
      }
    }

    &-language {
      font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
      font-size: 10px;
      margin-top: 32px;
      color: white;
      cursor: pointer;
    }

    &-copyright {
      margin-top: 32px;
      font-size: 12px;
      font-family: YandexSansDisplay-Thin, sans-serif;
    }

    &-policy {
      margin-top: 16px;
      font-size: 12px;
      font-family: YandexSansDisplay-Thin, sans-serif;
      color: gray;
    }
  }
}
