.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;

  #bg-bone-image {
    position: fixed;
    left: -140px;
    top: 115vh;
    scale: 130%;
    z-index: -1;

    // стили для адаптива
    height: 100%;
  }

  #eye-container {
    position: fixed;
    top: 140px;
    left: 0;
    scale: 250%;
    z-index: -1;
    opacity: 90%;

    .image-container {
      position: relative;
      display: inline-block;
      width: 100%;

      /* Псевдоэлемент для создания тени */
      &::before {
        content: ""; /* Обязательно указываем content для псевдоэлемента */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -1px;
        box-shadow: -1px -80px 73px -6px rgba(128, 129, 128, 1) inset;
        pointer-events: none; /* Чтобы клик по тени не блокировал взаимодействие с изображением */
      }

      #eye-video {
        width: 100%;
        height: auto;
        display: block; /* Убираем пробелы под изображением */
      }
    }
  }

  .loader-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 500px) {
  #bg-bone-image {
    left: 15% !important;
  }
}

@media (min-width: 1000px) {
  .slogan-container {
    padding-top: 70px;
    scale: 2;
  }

  .banner-action-button {
    scale: 1.5;
  }

  #eye-container {
    width: 40vw;
    margin-inline: auto;
    left: 0;
    right: 0;
  }
}

.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
  position: relative;

  .slogan-container {
    margin-top: 320px;

    .slogan-big {
      font-size: 38px;
      line-height: 40px;
    }

    .slogan-small {
      display: flex;
      width: 100%;
      justify-content: center;
      column-gap: 30px;
    }
  }

  &-action-button {
    margin-top: 120px;
    background-color: #191a19;
    border-radius: 6px;
    height: 40px;
    font-size: 12px;
    padding-inline: 10px;
    color: #ffffff;
    border: none;
  }
}
