form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  input {
    width: 100%;
    border: none;

    &[type="text"] {
      font-family: "YandexSansDisplay-Thin", sans-serif;
      height: 32px;
      border-bottom: 2px solid black;
      background: transparent;

      &.empty {
        border-bottom-color: red;
      }
    }

    &[type="submit"] {
      font-family: "Druk Wide Cy Web Bold Regular", sans-serif;
      height: 40px;
      background-color: black;
      color: white;
      border-radius: 8px;
      margin: 10px 0 20px;
      transition: opacity 0.2s ease-in-out;

      &:disabled {
        opacity: 0.4;
      }
    }
  }

  .error {
    margin-top: -20px;
    width: 100%;
    font-size: 14px;
    font-family: YandexSansDisplay-Thin, sans-serif;
    text-align: center;
    color: red;
  }

  .success {
    margin-top: -20px;
    width: 100%;
    font-size: 14px;
    font-family: YandexSansDisplay-Thin, sans-serif;
    text-align: center;
    color: green;
  }
}