#portfolio-section {
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 30px;

  .portfolio-line {
    display: grid;
    column-gap: 8px;
    grid-template-columns: repeat(3, 1fr);

    .tile {
      cursor: pointer;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 230px;
      border-radius: 24px;
      overflow: hidden;

      video {
        width: 100%; /* Задает ширину видео на 100% */
        height: 100%; /* Задает высоту видео на 100% */
        object-fit: cover; /* Сохраняет пропорции видео и заполняет контейнер */
      }

      &.double {
        grid-column: span 2;
      }

      &.full {
        grid-column: span 3;
      }
    }
  }
}

.show-more-button {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-inline: auto;
  cursor: pointer;

  img {
    width: 150px;
  }
}
