.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: flex-start;
  width: 100%;

  .styled-image {
    display: block !important;
  }

  .styled-canvas {
    display: none;
  }

  .panes-wrapper {
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
  }

  .pane {
    transform: perspective(200px) rotateY(12deg);
    background-repeat: no-repeat;
    position: relative;
    height: 120%;
    top: -10%;
    background-position-y: center;
    flex: 1 0 auto;
    //transform: perspective(100px) rotateY(90deg);
    transition-timing-function: ease-in-out, ease-out;
    transition: transform 50ms ease-in-out;
  }
}
