$tileWidth: 15vw;

#projects {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 30px;
  margin-inline: auto;
  width: fit-content;

  .portfolio-line {
    display: grid;
    column-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    max-width: 900px;

    .tile {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      overflow: hidden;
      position: relative;
      z-index: 100;

      &-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.span-2 {
        grid-column: span 2;
      }
      &.span-3 {
        grid-column: span 3;
      }
    }
  }
}

.show-more-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-inline: auto;
  cursor: pointer;
  row-gap: 10px;
  padding-top: 32px;
  position: relative;
  z-index: 10;

  .show-more-text {
    font-family: YandexSansDisplay-Thin, sans-serif;
    font-size: 11px;
    color: #ffffff;
  }

  img {
    width: 150px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  #projects {
    padding-inline: 10% !important;
  }
}

@media (min-width: 1000px) {
  #projects {
    padding-inline: 15% !important;
  }
}

//@media (min-width: 500px) {
//  #projects {
//    .portfolio-line {
//      grid-template-columns: repeat(auto-fill, $tileWidth);
//    }
//  }
//}
